body
{
background-color:#F4F4F4;
padding: 50px;
}

.bd-example-modal-lg .modal-dialog{
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
  }

.bd-example-modal-lg .modal-dialog .modal-content{
  background-color: transparent;
  border: none;
}

.states {
  fill: none;
  /*stroke: #ecf0f1;*/
  stroke:#34495e;
  stroke-linejoin: round;
  stroke-width:5;
}

.update-correction{
	fill:#f2b447;
	stroke: #f2b447;
	color: #f2b447;
}

.major-correction{
	fill: #b33040;
	stroke: #b33040;
	color: #b33040;
}

.minor-correction{
	fill: #d25c4d;
	stroke: #d25c4d;
	color: #d25c4d;
}
.hidden{
	fill: transparent;
}

.modal-lg {
    /*width: 800px;*/
}

#container{
	font-family: 'Roboto', sans-serif;
}

.row.full-width { width: 100%; max-width: 100%; }

#map{
  padding:5px;
    margin:5px;
}

#barsSection{
  padding-top: 20px;
}

.bars{
	height:130px;

}

#top20Lists{
 margin-left: 10px;
}

.wordList li{
	width:200px;
}
.wordHover{
   font-weight:900;
   font-size:140%;
}
.wordFade{
	opacity:0.2;
}

.emphasis{
   font-weight:900;
   font-size:110%;
}

#divider{
	margin: 15px;
	background:black; 
	border:0; 
	height:1px;
	width:95%;
}

.credit{
	font-size:80%;
	margin: 15px;
}

.social{
  margin:15px;
}

#tooltip{
	position: absolute;
    border: 1px solid black;
    border-radius:5px;
    background: #fff;
	opacity: .9;
	padding: 5px 10px;
	z-index: 10;
}


/* bar */

.hist {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.group {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
}

.block {
  width: 20px;
  height: 20px;
  background-color: #fe4a49;
}


/* bar 2 */

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

ul.wordBarContainer {
  padding: 0;
  list-style-type: none;
}

ul.wordBarContainer li {
  display: inline;
  margin-right: 10px;
}

.tab-pane p {
  padding-top: 20px !important;
}



/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


